<!DOCTYPE html>
<html>
    <head>
        <title>IPara Developer Portal</title>
        {% load static %} <link href="{% static "/css/bootstrap.css" %}"
        rel="stylesheet"> <link href="{% static "/css/Site.css" %}"
        rel="stylesheet">
        <meta charset="utf-8" />
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                    >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a href="/">
                    <img src="{% static "/images/ipara-logo.svg" %}" width="10%"
                    height="10%" style="margin-left: 25px; margin-top: 10px;"/>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'threedPaymentRequest' %}">3D Ödeme</a>
                        </li>
                        <li>
                            <a href="{% url 'nonThreeDPayment' %}"
                                >(Non-3D) Ödeme</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'paymentInquiry' %}"
                                >Ödeme Sorgulama</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'paymentInquiryWithTime' %}"
                                >Ödeme Listele</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'binRequest' %}">Bin Sorgulama</a>
                        </li>
                        <li>
                            <a href="{% url 'addCartToWallet' %}"
                                >Cüzdana Kart Ekle</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'getCardFromWallet' %}"
                                >Cüzdandaki Kartları Listele</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'deleteCardFromWallet' %}"
                                >Cüzdandan Kart Sil</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'nonThreeDPaymentWithWallet' %}"
                                >Cüzdandaki Kart İle Ödeme</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'paymentLinkCreate' %}"
                                >Ödeme Linki Oluştur</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'paymentLinkInquiry' %}"
                                >Ödeme Linki Sorgula</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'paymentLinkDelete' %}"
                                >Ödeme Linki Sil</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'paymentRefundInquiry' %}"
                                >İade Sorgulama</a
                            >
                        </li>
                        <li>
                            <a href="{% url 'paymentRefund' %}">İade</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content" style="margin-top: 120px">
            {% block content %} {% endblock %}
            <hr />
            <footer>
                <p>&copy; 2021 - iPara</p>
            </footer>
        </div>
    </body>
</html>
