{% extends 'base.html' %} {% block content %}
<form action="" method="post" class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>İade Sorgula</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="orderId"
                >Sipariş Numarası (*):</label
            >
            <div class="col-md-4">
                <input
                    name="orderId"
                    type="text"
                    value="1550972096"
                    class="form-control input-md"
                    required
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="amount"
                >Tutar (**)</label
            >
            <div class="col-md-4">
                <input
                    name="amount"
                    type="text"
                    value="10000"
                    class="form-control input-md"
                    required
                />
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-4">
                <button type="submit" id="" name="" class="btn btn-success">
                    Iade Sorgula
                </button>
            </div>
        </div>
    </fieldset>
    <p>
        ** Sipariş tutarı kuruş ayracı olmadan gönderilmelidir. Örneğin; 1 TL
        100, 12 1200, 130 13000, 1.05 105, 1.2 120 olarak gönderilmelidir.
    </p>
</form>

<br />
<pre>
{% if message %}
{{ message }}
{% endif %}
</pre>
{% endblock %}
